{%- assign current_page = site.pages | where: "path", include.path | first -%}
{%- assign backlink = include.backlink -%}

{%- if current_page.breadcrumbparent or backlink -%}

    {%- for p in site.pages -%}
    
      {%- if p.permalink == current_page.breadcrumbparent -%}
        
        {%- if backlink -%}
            {%- include breadcrumb_item.html permalink=p.permalink title=p.title backlink=true -%}
        {%- else -%}
            {%- include breadcrumb_generator.html path=p.path -%}
        {%- endif-%}
       
      {%- endif-%}
    {%- endfor-%}
{%- endif -%}

{%- unless include.backlink -%}
    {%- assign current_page_again = site.pages | where: "path", include.path | first -%}
    {%- include breadcrumb_item.html permalink=current_page_again.permalink title=current_page_again.title -%}
{%- endunless -%}

